[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hugo-theme-sam"]
	path = hugo-theme-sam
	url = https://github.com/vickylai/hugo-theme-sam.git
